/*
Alle rechten voorbehouden aan 4URBAN:

Annelien Rozemuller
Ilona Verhees
Nancy Rijsdijk
Yoeri Reynart

Niets mag zonder toestemming gekopiërd of verkocht worden.
Voor vragen en/ of licenties:
yoeri@bladmuziek.xyz
*/


@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
}

div {
    color: #FFF;
}

h3 {
    color: #000;
}
/* logo */

.logo {
    display: block;
    position: fixed;
    margin: auto;
    width: 20vw;
    height: auto;
    top: 1vh;
}


/*kleuren vlakken*/

.beats,
#collections {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row; 
}

.note,
.switch {
    background-color: #47af60;
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row;
    margin: 10px;
    justify-content: center;
    text-align: center;
}

.switch {
    background-color: #8162AA;
}

.switch.selected {
    opacity: 0.6;
}

.switch:hover {
    opacity: 0.4;
}
/*tekst directie*/

.row {
    display: flex;
    /* flex: auto; */
    flex-direction: row;
}

.direction {
    margin: 20PX;
    width: 120px;
    text-align: center;
}

/* #left, #up, #down, #right #space, #w, #a, #s, #d, #f, #g, #z, #x, #c, #v, #b, #n, #m, #h, #j, #k, #l
{
    flex-direction: row;
    flex-flow: row;
    position: absolute;
    color: black;
} */

/*achtergrond kleuren toggle voor Engine*/

.note:nth-child(1).selected,
.note:nth-child(5).selected,
.note:nth-child(9).selected,
.note:nth-child(13).selected,
.note:nth-child(17).selected,
.note:nth-child(21).selected,
.note.selected {
    background-color: #5ABAE9;
}

.note:nth-child(2).selected,
.note:nth-child(6).selected,
.note:nth-child(10).selected,
.note:nth-child(14).selected,
.note:nth-child(18).selected,
.note:nth-child(22).selected,
.note.selected {
    background-color: #8162AA;
}

.note:nth-child(3).selected,
.note:nth-child(7).selected,
.note:nth-child(11).selected,
.note:nth-child(15).selected,
.note:nth-child(19).selected,
.note.selected {
    background-color: #FAAA52;
}

.note:nth-child(4).selected,
.note:nth-child(8).selected,
.note:nth-child(12).selected,
.note:nth-child(16).selected,
.note:nth-child(20).selected,
.note.selected {
    background-color: #ed6d8d;
}

/*hover kleur note*/

.note:hover {
    background-color: #365a26;
}